<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<ul>
    {{$name := .Name}}
    {{$number := .Number}}
    <li>{{$name}} - {{$number}}</li>
</ul>
</body>
</html>