<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

{{range .Wisdom}}
{{uc .Name}}
{{end}}
<h1>-------------</h1>
{{range .Wisdom}}
{{ft .Name}}
{{end}}

</body>
</html>