{{if gt .Score1 .Score2}}
    Score1 > Score2
{{end}}

{{if lt .Score1 .Score2}}
    Score1 < Score2 
{{end}}

{{ if eq .Score1 .Score2}}
    Score1 = Score2
{{end}}

{{if lt .Score1 10}}
    Last One: Score1 < 10
{{end}}